@import "_variables";

.about-us {
  width: 120rem;
  height: 26.5rem;
  background-color: $green-color;
  padding-top: 0.1rem;
}

.about-logo {
  width: 13.9375rem;
  height: 4.875rem;
  background-color: $white-color;
  margin-left: 10.9375rem;
}

.about-name {
  font-family: $font;
  font-size: 3.8rem;
  font-weight: 500;
  padding-top: 2rem;
}

.about-columns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120rem;
  padding-top: 1.875rem;
}

.about-title {
  font-family: $font;
  font-weight: 600;
  font-size: 1.125rem;
}

.about-title-main {
  font-family: $font;
  font-weight: 600;
  font-size: 1.5rem;
}

@mixin aboutLogo {
  width: 3rem;
  height: 3rem;
  background-color: $black-color;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.about-box-one {
  @include aboutLogo();
  background-image: url("../images/facebook.svg");
}

.about-box-two {
  @include aboutLogo();
  background-image: url("../images/twitter.svg");
}
.about-box-three {
  @include aboutLogo();
  background-image: url("../images/linkedin.svg");
}
.about-box-four {
  @include aboutLogo();
  background-image: url("../images/youtube.svg");
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.about-title-logos {
  margin-top: 1.125rem;
  display: flex;
  gap: 1.5rem;
}

.about-content {
  color: $black-color;
  font-family: $font;
  font-weight: 400;
  font-size: 1.125rem;
  margin-top: 0.625rem;
}
