@import "_variables";
@import "_card";

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 7.5rem;
}

.input__title {
  display: flex;
  justify-content: center;
  font-family: $font;
  font-weight: 700;
  font-size: 3rem;
  margin-top: 7.5rem;
}

.input__paragraph {
  width: 52.5rem;
  height: 3.875rem;
  font-family: $font;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}

.input__email {
  width: 43.5rem;
  height: 4rem;
  margin-top: 2.75rem;
  border-radius: 0.75rem;
  border: 0.0313rem solid rgba(73, 72, 72, 0.5);
}

.input__email::placeholder {
  font-family: $font;
  font-weight: 400;
  font-style: italic;
  font-size: 1.125rem;
  color: $black-color;
  padding-left: 1.25rem;
}

.input__btn {
  width: 7.5rem;
  height: 3rem;
  background-color: $green-color;
  border-radius: 0.75rem;
  font-family: $font;
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: -130px;
  margin-top: 0.5rem;
  border: none;
}
