@import "_variables";

.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 99.3125rem;
  background-color: $black-color;
}

.main__content-title {
  display: flex;
  font-family: $font;
  font-weight: 700;
  font-size: 3rem;
  color: $white-color;
  margin-top: 4rem;
}

.main__section-one {
  width: 100%;
  height: 27.1875rem;
  display: flex;
  justify-content: space-around;
}

.main__section-two {
  width: 100%;
  height: 27.1875rem;
  display: flex;
  justify-content: space-around;
  margin-top: 10.8125rem;
}

.main__title {
  font-family: $font;
  color: $white-color;
  font-weight: 600;
  font-size: 2.25rem;
  margin-bottom: 0.75rem;
}

.main__paragraph {
  font-family: $font;
  color: $white-color;
  font-weight: 400;
  font-size: 1.125rem;
  margin-top: 0;
}

.main__text {
  display: flex;
  flex-direction: column;
  width: 43.5rem;
  height: 27.1875rem;
}

.main__image-one {
  width: 41.5rem;
  height: 30rem;
  border-right: solid 2rem $green-color;
}

.main__image-two {
  width: 41.5rem;
  height: 30rem;
  border-left: solid 2rem $green-color;
}

.main__btn {
  background-color: $green-color;
  width: 16.5rem;
  height: 4.5rem;
  border-radius: 0.75rem;
  font-family: $font;
  font-weight: 700;
  font-size: 1.125rem;
  margin-top: 10rem;
}
